*{margin:0; padding:0;}
body{ background:#434343;}
.box{
	width:798px;
	height:auto;
	margin:30px auto;
	padding: 20px 0 0 20px;
	background-color:#222;
	border-radius: 20px;
	box-shadow: 0 0 7px #fff;
	overflow: hidden;
}
.box ul li{
	width:240px;
	height:240px;
	padding: 10px;
	list-style:none;
	float:left;
	margin:0 20px 20px 0;
	position:relative;
	overflow:hidden;
	padding:3px;
	-webkit-box-shadow: 0 0 4px #5B7689;
	-moz-box-shadow: 0 0 4px #5B7689;
	box-shadow:  0 0 4px #5B7689;
}
.box ul li img{
	width:240px;
	height:240px;
	display:block;
	overflow:hidden;
}
.box ul li p{
	position:absolute;
	bottom:-50px;
	left:3px;
	width:240px;
	height:50px;
	background:rgba(0,0,0,.5);
	color:#fff;
	line-height:50px;
	text-align:center;
	font-family:'微软雅黑';
}
.box ul li .top{
	height:3px;
	width:0px;
	position:absolute;
	top:0px;
	right:0;
	background:#fff;
}
.box ul li .bottom{
	height:3px;
	width:0px;
	position:absolute;
	bottom:0;
	left:0;
	background:#fff;
}
.box ul li .left{
	height:0px;
	width:3px;
	position:absolute;
	top:0;
	left:0;
	background: #fff;
}
.box ul li .right{
	height:0px;
	width:3px;
	position:absolute;
	bottom:0;
	right:0;
	background:#fff;
}