/*通用初始化样式*/
* { margin: 0; padding: 0; }
body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table,th,td { margin:0; padding:0; }
body, button, input, select, textarea  { font: 12px/24px Arial, 'Microsoft Yahei',"宋体", sans-serif; }
address, cite, em, i { font-style: normal; }
small { font-size: 12px; } li { list-style: none; } a { text-decoration: none; } a:hover { text-decoration: none; }
legend { color: #000; } fieldset, img { border: 0; } button, input, select, textarea { font-size: 100%; line-height:normal; }
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
iframe{ display:block; } .clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; } .clearfix { zoom:1; }
/*正文样式*/
* { margin: 0; padding: 0; }
body{ height: 1000px; background: url("../images/bg.jpg");}
a{text-decoration: none; color: #000}
#Tz_wrap{position: fixed; top: 0; right: 0; width: 130px;margin: 100px 0 0 0;}
#Tz_wrap a{display: block; width: 130px; height: 30px; line-height:30px; position: relative;padding-left: 34px;border-bottom: 2px solid #ddd;right: -100px;font-weight:bold; background-color: #ffffff;}
#Tz_wrap a:hover em{background-color:#48bed8;}
#Tz_wrap a:hover {color:#1974A1;}
#Tz_wrap a em{display: block; position:absolute; top: 0; left: 0;background-color: #1974A1;font-size: 16px;color: #fff; width: 30px; height: 30px;text-align: center;}