* { margin: 0px; padding: 0px; }

body { background-color: #434343; }

img { display: block; }

#Tz_box {  box-shadow: 0 0 8px #fff; background-color:#222; width: 800px; height: auto;margin: 50px auto;padding: 20px;overflow: hidden}

#Tz_box ul li { margin: 10px 15px ; list-style: none; float: left; border: 2px solid #cccccc; position: relative; overflow: hidden; }

.text {position: relative; width: 164px; height: 220px; position: absolute; background: #00b38a; left: 0px; top: 220px; background:url(../images/new-bg.png);}

.text h2 { font-size: 24px; height: 24px; line-height: 24px;font-weight: bold; margin: 10px 8px 8px; font-weight: 400; text-align: center; color: #fff;padding-top: 30px;border-bottom: 1px dashed #fff;padding-bottom: 10px}

.text p { font-size: 14px; margin: 6px 8px; line-height: 18px; color:#fff;font-weight: 300;font-family:"微软雅黑";}

.text .btn{position: absolute; bottom: 5px; font-size: 14px;display: block;padding: 5px;background: #0ab5da; left: 50%;margin-left: -38px;border-radius: 5px;line-height: 20px;cursor: pointer}
.text .btn a{color: #fff;font-size: 12px;text-decoration: none; font-family:"微软雅黑";}